.container {
  display: flex;
  flex-direction: column;
  width: 81vmin;
  height: 100vmin;
}

.gametitle {
  width: 25%;
  padding-left: 4vmin;
}

.infos {
  display: flex;
  height: 20vmin;
  background-color: darkgrey;
  margin-bottom: 2vmin;
  border-radius: 10px;
}

.score {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.bestscore {
  width: 25%;
}

.retry {
  display: flex;
  width: 25%;
  align-items: center;
}

.grille {
  display: flex;
  width: 80vmin;
  height: 80vmin;
  background: lightblue;
  border-radius: 10px;
}

.column {
  height: 100%;
}

.games {
  display: flex;
  margin-left: 30%;
}

.cells {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border: solid;
  border-width: 0.5px;
  justify-content: center;
  align-items: center;
  font-size: 14vmin;
}

.victoire {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-color: greenyellow;
}

.defeat {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-color: red;
}
